# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=Admin123
POSTGRES_DB=procurement_db

# Security
SECRET_KEY=your_super_secret_key_change_this_in_production_min_32_chars

# Telegram
TELEGRAM_BOT_TOKEN=8737332441:AAEwZ-Uu-blqZV_TgI2EddwTZt97_RcnrMk

# App
DEBUG=False
