POSTGRES_USER=admin
POSTGRES_PASSWORD=Admin123
POSTGRES_DB=procurement_db
SECRET_KEY=bu_yerga_kamida_32_belgili_kalit_yozing_1234
TELEGRAM_BOT_TOKEN=8737332441:AAFyzjEP2XD2wWYGdNbUZpwPXhqMNBTug88
DEBUG=False
