POSTGRES_USER=admin
POSTGRES_PASSWORD=secret1234
POSTGRES_DB=procurement_db
SECRET_KEY=bu_yerga_kamida_32_belgili_kalit_yozing_1234
TELEGRAM_BOT_TOKEN=8737332441:AAEwZ-Uu-blqZV_TgI2EddwTZt97_RcnrMk
DEBUG=False
